#main-container {
    background-color: rgb(139, 213, 195);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em;
    width: 30em;
    height: auto;
    margin: 0 auto;
    margin-top: 3em;
    border-radius: 5%;
   
}

h1, h2 {
    font-family: 'Chau Philomene One', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: -0.5em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

#toDoContainer {
    background-color: rgb(60, 60, 222);
    width: 40em;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}

#form {
    font-family: 'Chau Philomene One', sans-serif;
    color: white;
    font-size: 1em;
    margin: 0 auto;
    display: inline;
    text-align: center;
}

.paragraph-styling {
    font-family: 'Chau Philomene One', sans-serif;
    color: white;
    font-size: 1.5em;

}

@media screen and (max-width: 500px) {
    #main-container {
        background-color: rgb(139, 213, 195);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3em;
        width: 15em;
        height: auto;
        margin: 0 auto;
        margin-top: 3em;

}

    #toDoContainer {
        background-color: rgb(60, 60, 222);
        width: 15em;
        height: auto;
        margin: 0 auto;
        padding: 1em;
        text-align: center;
        margin-top: 1em;

}

    .addToDo {
        margin-top: 1em;

}
}